html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
div {
  margin: 0 !important;
}

p {
  margin: 0 !important;
}

button {
  border: 1px solid rgb(255, 255, 255);
  background-color: #d92231;
  height: 38px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 0.75rem;
  color: white;
}

button:hover {
  background-color: #801820;
}

button:disabled {
  background-color: #d66770;
}

input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
input:focus {
  box-shadow: 118 118 118 0;
  outline: 0;
}

.bodyDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(#ebebeb);
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.contentContainer {
  height: auto;
  width: 80vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(#ebebeb);
  border: 1px solid rgb(193, 193, 193);
  border-radius: 0;
  flex-direction: column;
  align-items: center;
}

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(115, 115, 115, 0.5); /* Fundo semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 101;
}

.loadingScreen div {
  padding: 20px;
  background-color: rgba(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingScreen img {
  animation: spin 2s linear infinite;
  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
