html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px !important;
  
}


p {
  margin: 0 !important;
}

button {
  border-color: #ebebeb;
  background-color: #d92231;
  color: white;
}

button:hover {
  background-color: #801820;
}

button:disabled {
  background-color: #d66770;
}
button:active{
  box-shadow: 0 0 5px #d92231 !important;
  outline: none;
}
button.clicked {
  box-shadow: 0 0 5px #d92231 !important;
  outline: none;
}

input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
input:focus {
  border-color: rgb(193, 193, 193) !important;
  box-shadow: 0 0 5px #d92231 !important;
  outline: none;
}
.p-inputwrapper-focus{
  border-color: rgb(193, 193, 193) !important;
  box-shadow: 0 0 5px #d92231 !important;
  outline: none;
}

.bodyDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: none;
}

.contentContainer {
  height: auto;
  width: 80vw;
  padding: 0px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid #801820;
  box-shadow: 2px 2px 5px #d92231;
  border-radius: 0;
  flex-direction: column;
  align-items: center;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: orange;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}
body {
  scrollbar-width: thin;
  scrollbar-color: #d92231 rgb(255, 255, 255);
}