.inputFile {
  border: none !important;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-content-selfie {
  background-color: rgb(235, 235, 235);
  padding: 20px;
  border-radius: 0px;
  border: 1px solid #000000;
  box-shadow: 2px 2px 5px #d92231;
  width: 80vw;
  max-height: 80vh;
  min-height: 80vh;
  overflow-y: scroll;
  position: relative;
}
