.tableWrapper-processed {
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 0;
    border: none;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    box-shadow: 2px 2px 5px #d92231;
}

.processedDocuments {
    width: 100%;
}

.body-forProcessedDocuments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}


.dossierId {
    width: 20%
}

.documentType {
    width: 45%;
}

.status {
    width: 10%;
    text-align: center;
}

.dateAndTime {
    width: 15%;
    text-align: center;
}

.result {
    width: 10%;
    text-align: center;
}